@model PizzaStoreWebApplication.Models.Location

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoughRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoughRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SauceRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SauceRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheeseRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheeseRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PepperoniRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PepperoniRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VeggiesRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VeggiesRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeatRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeatRemaining)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
