@model IEnumerable<PizzaStoreWebApplication.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { name = item.Name })
                @Html.ActionLink("Resupply", "Index", new { name = item.Name })
                @Html.Raw(TempData["msg"])
            </td>
        </tr>
}
    </tbody>
</table>
