@model PizzaStoreWebApplication.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
@TempData["ErrorMessage"]
<p>Please enter information below: </p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.HiddenFor(model => model.Username)
            @Html.HiddenFor(model => model.FirstName)
            <h3>Select a location to order pizza from:</h3>
            <p></p>
            <p>@TempData["FavoriteLocation"]</p>
            @Html.DropDownList("Locations", null, null)
            <h3>Select you pizzas (max of 12, min of 1)</h3>
            <p></p>
            <p>@TempData["Recommend"]</p>
            <p></p>
            <p>Pizza number 1</p>
            @Html.DropDownList("Pizza1", null, null)
            <p></p>
            <p>Pizza number 2</p>
            @Html.DropDownList("Pizza2", null, null)
            <p></p>
            <p>Pizza number 3</p>
            @Html.DropDownList("Pizza3", null, null)
            <p></p>
            <p>Pizza number 4</p>
            @Html.DropDownList("Pizza4", null, null)
            <p></p>
            <p>Pizza number 5</p>
            @Html.DropDownList("Pizza5", null, null)
            <p></p>
            <p>Pizza number 6</p>
            @Html.DropDownList("Pizza6", null, null)
            <p></p>
            <p>Pizza number 7</p>
            @Html.DropDownList("Pizza7", null, null)
            <p></p>
            <p>Pizza number 8</p>
            @Html.DropDownList("Pizza8", null, null)
            <p></p>
            <p>Pizza number 9</p>
            @Html.DropDownList("Pizza9", null, null)
            <p></p>
            <p>Pizza number 10</p>
            @Html.DropDownList("Pizza10", null, null)
            <p></p>
            <p>Pizza number 11</p>
            @Html.DropDownList("Pizza11", null, null)
            <p></p>
            <p>Pizza number 12</p>
            @Html.DropDownList("Pizza12", null, null)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

