@model PizzaStoreWebApplication.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPizzas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPizzas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pizza12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pizza12)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
