@model IEnumerable<PizzaStoreWebApplication.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                @Html.ActionLink("Order Time", "Index", new { sortOrder = ViewBag.TimeSortParm})
            </th>
            <th>
                Username
            </th>
            <th>
                First Name
            </th>
            <th>
                Number of Pizzas
            </th>
            <th>
                Store Location
            </th>
            <th>
                @Html.ActionLink("Total Cost", "Index", new { sortOrder = ViewBag.CostSortParm})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPizzas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.OrderId }) 
            </td>
        </tr>
}
    </tbody>
</table>
