@model IEnumerable<PizzaStoreWebApplication.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>UserIndex</h2>

<p>@TempData["SuccessMessage"]</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { username = item.Username })
                @Html.ActionLink("Orders", "Index", "Order", new { user = item.Username })
                @Html.ActionLink("Create New Order", "Create", "Order", new { user = item.Username })

            </td>
        </tr>
}
    </tbody>
</table>
